* {
  margin: 0;
  padding: 0;
}
.body {
  width: 950px;
  margin: auto;
  background-color: rgb(247, 191, 191);
  border-radius: 6px;
  margin-top: 10px;
  overflow: hidden;
  min-height: 450px;
  text-align: center;
}
.main-heading {
  text-align: left;
  margin-bottom: 10px;
  color: rgb(44, 38, 105);
}

.nav-bar {
  background-color: lightblue;
  padding: 8px 16px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 14px;
}

.nav-link {
  padding: 8px;
  text-decoration: none;
  background-color: limegreen;
  margin: 8px;
  border-radius: 4px;
  color: white;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
}

.error-msg {
  color: rgba(255, 0, 0, 0.753);
}

.error-page{
  text-align: center;
  padding: 80px;
}

@media screen and (max-width: 1000px) {
  .body {
    width: 850px;
  }
  table,
  th,
  td {
    padding: 4px;
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {
  .body {
    width: 750px;
  }
  table,
  th,
  td {
    padding: 4px;
    font-size: 15px;
  }.nav-link {
    padding: 6px;
    margin: 4px;
  }
}

@media screen and (max-width: 750px) {
  .body {
    width: 650px;
  }
  table,
  th,
  td {
    padding: 4px;
    font-size: 15px;
  }.nav-link {
    font-size: 14px;
  }
}

@media screen and (max-width: 650px) {
  .body {
    width: 500px;
  }
  table,
  th,
  td {
    padding: 2px;
    font-size: 14px;
  }
  .nav-bar{
    margin-bottom: 0px;
  }
  .nav-links-container {
    display: flex;
  }
}

@media screen and (max-width: 450px) {
  .body {
    width: 400px;
  }
  table,
  th,
  td {
    padding: 1px;
    font-size: 10px;
  }
  .nav-bar{
    margin-bottom: 0px;
  }
  .nav-links-container {
    display: flex;
    flex-direction: column;
  }
}